<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Add Student</h3>

	<% if(dataErr){ %>
		<p style="font-size:13px; color:red"><%= dataErr.errors[0].message %></p>
	<% } %>
	
	<form action="/students/add" method="post">
		<table>
			<tr>
				<td>
					<span style="color:red">*</span>
					<span style="color:red; font-size: 13px; font-style: italic">Required</span>
				</td>
			</tr>
			<tr></tr>
			<tr>
				<td>
					<span style="color:red">*</span> First Name: 
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="fn">
				</td>
			</tr>
			<tr>
				<td>
					<span style="color:red">*</span> Last Name: 
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="ln">
				</td>
			</tr>
			<tr>
				<td>
					<span style="color:red">*</span> Email: 
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="email">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit">
				</td>
			</tr>
		</table>
	</form>

	<br>

	<a href="/students">  << back to students </a>
	
</body>
</html>