<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Welcome, ? (SUBJECTS)</h3>

	<% if(dataErr){ %>
		<p style="font-size:13px; color:red"><%= dataErr.errors[0].message %></p>
	<% } %>

	<form action="/subjects/edit/<%= dataSub.id %>" method="post" style="margin-top:20px">
		<table>
			<tr>
				<td>Subject Name: </td>
				<td>
					<input type="text" name="sn" value="<%= dataSub.subject_name %>">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Save">
				</td>
			</tr>
		</table>
	</form>

	<br>

	<a href="/subjects"> << back to subjects </a>
	
</body>
</html>